##################
##	        VIVADO            ##
##################

##Source files:

!*.srcs/

##################

*.sim/
*.hw/
*.cache/
*.ip_user_files/
*.runs/

##################

*vivado*
*.log
*.jou
*.zip

##################

